@model ProductDto;

<div class="card h-100 card-body background information">
    <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path">
        <img src="@Model.ImageUrl" class="card-img-top white-back" alt="Product Image">
    </a>
    <div class="background text-center">
        <h5 class="card-title">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path">@Model.Name</a>
        </h5>
        <p class="card-text">
            @Model.Price$
            @if (Model.Discount > 0)
            {
                <span class="badge bg-danger">SALE</span>
            }
            <br />
            @Model.CategoryName
        </p>
        <div>
            <a type="button" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-danger text-dark mb-1">Add to Cart</a>
            <a asp-controller="Orders" asp-action="Create" class="btn btn-light mb-1 text-dark">Buy Now</a>
        </div>
    </div>
</div>