@using _02_MVC.Model.Data.Entities
@model Product;

<div class="text-start">
    <a asp-action="Index" class="btn btn-warning my-3">Back</a>
</div>

<div class="card  bg-dark">
    <h5 class="card-header">Product Information</h5>
    <div>
    <div class="d-flex">
        <div class="im">
            <img src="@Model.ImageUrl" class="rounded card" alt="Product Image" />
        </div>
        <div class="card-body">
            @if (Model.Discount > 0)
            {
                    <div>
                        <span class="badge bg-warning text-black">SALE</span>
                    </div>
            }
            <h5 class="card-title fs-1">@Model.Name</h5>
            <p class="card-text fs-4">@Model.Price$ - @Model.Category</p>
            <a href="#" class="btn btn-success my-3">Buy</a>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
    </div>
</div>