@model ProductDto;

<div class="card background details-card ">
    <h5 class="card-header text-center ">
        <a href="@ViewBag.ReturnUrl" class="btn btn-danger">
            <i class="bi bi-arrow-left text-dark"></i>
        </a>
        <span>Product Information</span>
    </h5>
    <div class="card-body d-flex information">
        <div class="im">
            <img src="@Model.ImageUrl" class="rounded card" alt="Product Image" />
        </div>
        <div class="card-body">
            @if (Model.Discount > 0)
            {
                <div>
                    <span class="badge bg-warning text-black">SALE</span>
                </div>
            }
            <h5 class="card-title fs-1">@Model.Name</h5>
            <p class="card-text fs-4">@Model.Price$ - @Model.CategoryName</p>
            @if (Model.InStock == true)
            {
                <a type="button" asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-danger text-dark mb-1">Buy</a>
            }
            else
            {
                 <a href="#" class="btn btn-secondary my-3 disabled" aria-disabled="true">Out of stock</a>
            }
            <p class="card-text">@Html.Raw(Model.Description)</p>
        </div>
    </div>
</div>