@model List<ProductDto>;

<h1>Product Panel</h1>
<p>You can manage the available products here.</p>

<div>
	<a asp-action="Create" class="btn btn-danger">Create New Product</a>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="text-white" scope="col">#</th>
			<th class="text-white" scope="col">Name</th>
			<th class="text-white" scope="col">Price</th>
			<th class="text-white" scope="col">Category</th>
			<th class="text-white" scope="col">Discount</th>
			<th class="text-white" scope="col">Status</th>
			<th class="text-white" scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var i in Model)
		{
		<tr class="align-middle">
			<th class="text-white" scope="row">@i.Id</th>
			<td class="text-white">
			@i.Name
			@if (i.Discount > 0)
			{
				<span class="badge bg-danger text-black">SALE</span>
			}
			</td>
			<td class="text-white">@i.Price$</td>
			<td class="text-white">@i.CategoryName</td>
			<td class="text-white">@i.Discount%</td>
			<td class="text-white">
			@if (i.InStock)
			{
				<span class="badge bg-success text-white">In Stock</span>
			}
			else
			{
				<span class="badge bg-secondary text-white">Out of Stock</span>
			}
			</td>
			<td>
				<div class="btn-group" role="group" aria-label="Basic example">
						<a class="btn " asp-action="Details" asp-route-id="@i.Id" asp-route-returnUrl="@Context.Request.Path">
						<i class="bi bi-info-lg text-white"></i>
					</a>
					<a class="btn btn-light" asp-action="Edit" asp-route-id="@i.Id">
						<i class="bi bi-pencil-square"></i>
					</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@i.Id">
						<i class="bi bi-trash3-fill"></i>
					</a>
				</div>

			</td>
		</tr>
		}
	</tbody>
</table>

<p>Items: @Model.Count</p>